.alumni-view {
  .past-year-list {
    margin-top: 32px;
    display: flex;
    flex-direction: column;

    .past-year-container {
      display: flex;
      flex-direction: column;

      background: $xlightgrey;

      margin-bottom: 32px;

      .chinafest {
        position: relative;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .past-year-info {
        display: flex;
        .year {
          display: grid;
          place-items: center;
          background-color: $orange;
          color: $white;

          padding: 16px 32px;

          h2 {
            font-size: 2rem;
            font-weight: 500;
          }
        }

        .year-link {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          box-sizing: border-box;

          padding: 32px;

          transition: all 0.1s ease;

          &:hover {
            z-index: 1000;
            transform: scale(1.05);
            cursor: not-allowed;
            background: $lightgrey;
            box-shadow: 2px 2px 16px $lightgrey;
          }
        }
      }

      .year-families {
        flex: 1;
        display: flex;
        justify-content: space-between;
        padding: 16px;

        .family {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 32px;

          .family-img-container {
            height: 64px;
            width: 64px;
            margin-bottom: 16px;
            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
            }
          }
          .family-name {
            text-align: center;
          }
        }
      }
    }
  }
}
