.family-view {
  .family-list {
    width: 100%;

    .family-container {
      display: grid;
      grid-template-columns: 1fr 1fr;

      margin: 64px 0;

      background: $xlightgrey;

      .family-info {
        direction: ltr;
        padding: 32px;

        .animal {
          height: 128px;
          width: 128px;
          margin-bottom: 32px;

          img {
            max-height: 100%;
            max-width: 100%;
          }
        }

        h4 {
          margin-bottom: 16px;
        }
      }

      .family-img {
        object-fit: cover;
        max-height: 100%;
        max-width: 100%;
      }

      &:nth-child(even) {
        direction: rtl;
      }
    }
  }

  .family-icons {
    display: flex;
    justify-content: center;
    .family-icon {
      cursor: pointer;
      margin: 16px;
      padding: 16px;

      border-radius: 8px;
      border: 2px solid $transparent;
      box-sizing: border-box;

      h4 {
        margin: 16px;
        font-size: $normal;
        text-align: center;
      }
      .animal {
        position: relative;

        width: 200px;
        height: 200px;
        margin-bottom: 32px;

        .animal-icon {
          position: absolute;
          right: 0;
          bottom: 0;
          max-height: 128px;
          max-width: 128px;

          filter: opacity(0.5);
        }

        .animal-img {
          position: absolute;
          top: 0;
          left: 0;

          max-width: 100%;
          max-height: 100%;

          filter: saturate(0.1) opacity(0.25);
        }
      }
      &:hover {
        border: 2px solid $xlightgrey;
        box-shadow: 0 0 16px $xlightgrey;
        transition: all 0.1s ease;

        .animal-img {
          filter: saturate(1) opacity(1);
          transition: all 0.1s ease;
        }
        .animal-icon {
          filter: opacity(1);
          transition: all 0.1s ease;
        }
      }
    }
  }
}
