.family-view {
  .family-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 32px 0;

    .family-button {
      flex: 1;
      overflow: hidden;

      background: $xlightgrey;

      display: flex;
      align-items: center;

      padding: 16px 32px;

      .animal {
        height: 64px;
        width: 64px;

        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
        }
      }

      h4 {
        flex: 1;
        text-align: center;
        margin: 0;
      }

      transition: all 0.1s ease;

      &:hover {
        z-index: 1000;
        position: relative;
        transform: scale(1.05);
        cursor: pointer;
        background: $lightgrey;
        box-shadow: 2px 2px 16px $lightgrey;
      }
    }
  }

  .family-gallery-wrapper {
    position: relative;
    overflow: hidden;
    background: $xlightgrey;

    display: block;
    width: 100%;

    .family-container {
      display: flex;
      flex-wrap: wrap;

      width: 100%;
      height: 100%;

      background: $xlightgrey;

      @include breakpoint('lg') {
        flex-direction: column;
      }

      .family-info-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        background: $xlightgrey;
        text-align: left;

        .family-info {
          padding: 32px;
          min-width: 300px;

          .animal {
            height: 100px;
            width: 100px;
            margin-bottom: 16px;

            img {
              max-width: 100%;
              max-height: 100%;
            }
          }

          h2 {
            margin-bottom: 16px;
          }
        }
      }

      .family-img-container {
        flex: 2;
        width: 100%;
        min-width: 300px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
