.officers-view {
  .officers-container {
    margin: 32px 0;
    .officers-list {
      display: flex;
      flex-wrap: wrap;
      max-width: 1100px;
      margin: 0 -32px;

      .officer-container {
        // padding: 32px;
        border-radius: 16px;
        margin: 32px;

        .img-frame {
          // border: 5px solid $darkgrey;
          max-height: 200px;
          max-width: 200px;
          overflow: hidden;

          img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
          }
        }
        .officer-info {
          padding: 16px;
          padding-bottom: 0;
          text-align: center;
        }
      }
    }
  }
}
