.officers-view {
  margin: 32px 0;

  .officer-gallery-wrapper {
    position: relative;
    overflow: hidden;
    background: $xlightgrey;

    display: block;
    width: 100%;
  }
  .officer-container {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;

    background: $xlightgrey;

    .exec-officer {
      flex: 1;

      .officer-img-container {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .exec-info {
        padding: 32px;
      }
    }

    .role {
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.2rem;
      font-size: 1rem;
      color: $red;
    }

    .officer-info-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      background: $xlightgrey;
      text-align: left;

      .officer-info {
        padding: 32px;
        min-width: 300px;

        .names {
          margin-bottom: 16px;
        }
      }
    }

    .officer-img-container {
      flex: 2;
      width: 100%;
      min-width: 300px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
