// Red
$red: #7d0f00;

// Orange
$orange: #f19143;
$redorange: #ff773d;

// Yellow
$yellow: #ffb238;
$dimyellow: #ffb238;

//Gray
$lightgrey: #c2c2c2;
$grey: #5c5c5c;
$darkgrey: #292929;

// Basic

$white: #ffffff;
$black: #000000;

$transparent: rgba(0, 0, 0, 0);
