// Red
$red: #7b1500;

// Orange
$lightorange: #fcd7ad;
$orange: #e39324;
$redorange: #ff773d;

// Yellow
$yellow: #f3cd59;
$dimyellow: #ffb238;

//Gray
$xlightgrey: #efefef;
$lightgrey: #c2c2c2;
$grey: #858585;
$darkgrey: #292929;

// Basic

$white: #ffffff;
$black: #000000;

$transparent: rgba(0, 0, 0, 0);
