header {
  padding: 32px;
  border-bottom: 1px solid $lightgrey;

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-list {
      display: flex;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0 32px;
        font-family: $header-font;
        font-weight: 600;
        letter-spacing: 0.1rem;

        font-size: $large;
        text-transform: uppercase;

        a {
          color: $grey;
          text-decoration: none;

          // padding-bottom: 8px;
          // border-bottom: 2px solid $transparent;

          &:hover {
            color: $black;
            // border-bottom-color: $black;
          }
        }
      }
    }
  }
}
