.layout {
  min-height: 100vh;
  max-height: 100vh;

  display: grid;
  grid-template-columns: auto 1fr;

  overflow: auto;

  @include breakpoint('md') {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
  }

  .desc {
    font-size: 1.2rem;
    margin: 32px 0;
  }

  .breadcrumb {
    color: $orange;
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 16px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
