$xs: 767px; //Extra small
$sm: 768px; //Small
$md: 992px; //Medium
$lg: 1200px; //Large
$xl: 1400px; //Extra large

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: $xs) {
      @content;
    }
  } @else if $class == sm {
    @media (max-width: $sm) {
      @content;
    }
  } @else if $class == md {
    @media (max-width: $md) {
      @content;
    }
  } @else if $class == lg {
    @media (max-width: $lg) {
      @content;
    }
  } @else if $class == xl {
    @media (max-width: $xl) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg, xl";
  }
}
