//Variables
@import 'colors';
@import 'fonts';

//Components
@import 'layout';
@import 'navbar';
@import 'content';

@import './components/FamilyView';
@import './components/EventTimelineView';

html,
body {
  margin: 0;
  min-height: 100vh;
  font-family: $primary-font;
}

h1,
h2,
h3,
h4 {
  font-family: $primary-font;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
